@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos padrão para o preenchimento automático */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* Estilos para o preenchimento automático quando o tema é escuro */
[data-theme='dark'] input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
}

.dark {
  --bg-color-dark: #1c1c1c;
  --text-color-dark: #fafafa;
  --border-color-dark: #0f0f0f;
  --reactIcons-color-dark: rgba(0, 0, 0, 0.99);
}

.light {
  --bg-color-white: #fafafa;
  --text-color-white: #1c1c1c;
  --border-color-white: #1d1d1d;
  --reactIcons-color-white: hsla(0, 0%, 100%, 0.99);
}

body {
  color: var(--text-color-white);
  background-color: var(--bg-color-white);
}

.modalPosition {
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.menuModalsPosition {
  width: 30%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

/* Defina a largura da barra de rolagem */
.privacyScroll::-webkit-scrollbar {
  width: 5px;
}

/* Estilize a faixa da barra de rolagem */
.privacyScroll::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent; /* Cor de fundo da faixa */
}

/* Estilize a peça da faixa da barra de rolagem */
.privacyScroll::-webkit-scrollbar-track-piece {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Estilize o polegar da barra de rolagem */
.privacyScroll::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #9b9b9b;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #dd3e38, rgb(250, 1, 1));
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #dd3e38;
  font-weight: 700;
}

.menu-open {
  transform: translateX(-30%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menu-closed {
  transform: translateX(-150%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.cart-open {
  transform: translateX(-55%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.cart-closed {
  transform: translateX(150%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 40;
}

@media (max-width: 620px) {
  .modalPosition,
  .menuModalsPosition {
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0;
  }
}
